@font-face {
    font-family: 'Peyda';
    src: url('../fonts/Peyda/woff2/Peyda-ExtraLight.woff2') format('woff2'), url('../fonts/Peyda/woff/Peyda-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('../fonts/Peyda/woff2/Peyda-Light.woff2') format('woff2'), url('../fonts/Peyda/woff/Peyda-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('../fonts/Peyda/woff2/Peyda-Regular.woff2') format('woff2'), url('../fonts/Peyda/woff/Peyda-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('../fonts/Peyda/woff2/Peyda-Medium.woff2') format('woff2'), url('../fonts/Peyda/woff/Peyda-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('../fonts/Peyda/woff2/Peyda-SemiBold.woff2') format('woff2'), url('../fonts/Peyda/woff/Peyda-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('../fonts/Peyda/woff2/Peyda-Bold.woff2') format('woff2'), url('../fonts/Peyda/woff/Peyda-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('../fonts/Peyda/woff2/Peyda-ExtraBold.woff2') format('woff2'), url('../fonts/Peyda/woff/Peyda-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


[dir="rtl"] body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
    font-family: 'Peyda', sans-serif !important;
}

p {
    font-size: 1.1rem;
}


.\*\:text-regular>* {
  font-size: 1.1rem;
}

/* cd-headline for RTL */

.typing-container {
    display: inline-block;
    min-height: 1.2em;
}

#typing-text::after {
    content: '|';
    animation: blink 1s infinite;
    margin-right: 5px;
    font-weight: normal;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


/* social media icons desktop */

.space-x-3> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(0.75rem * var(--tw-space-x-reverse));
    margin-right: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

/* social media icons mobile */

.space-x-4> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(1rem * var(--tw-space-x-reverse));
    margin-right: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

/* mobile menu */

.space-x-2> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(0.5rem * var(--tw-space-x-reverse));
    margin-right: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

/* tick in introduce */

.ml-2 {
    margin-left: 0.5rem;
}


/* svg in services */

.left-6 {
    left: 1.5rem;
}

@media (min-width: 768px) {
    .md\:left-8 {
        left: 2rem;
    }
}


/* experience */

@media (min-width: 768px) {

    .md\:pr-16 {
        padding-right: 4rem;
    }

    .md\:after\:content-\[\'\'\]::after {
        --tw-content: '';
        content: var(--tw-content);
    }

    .md\:before\:-right-1::before {
        content: var(--tw-content);
        right: -0.25rem;
    }

    .md\:before\:right-64::before {
        content: var(--tw-content);
        right: 16rem;
    }
}