@font-face {
    font-family: "Peyda";
    src: url("../fonts/PeydaWebFaNum-Regular.woff") format('woff');
    src: url("../fonts/PeydaWebFaNum-Regular.woff2") format('woff2');
}

[dir="rtl"] body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
    font-family: 'Peyda', sans-serif !important;
}


/* cd-headline for RTL */

.typing-container {
    display: inline-block;
    min-height: 1.2em;
}

#typing-text::after {
    content: '|';
    animation: blink 1s infinite;
    margin-right: 5px;
    font-weight: normal;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


/* social media icons desktop */

.space-x-3> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(0.75rem * var(--tw-space-x-reverse));
    margin-right: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

/* social media icons mobile */

.space-x-4> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(1rem * var(--tw-space-x-reverse));
    margin-right: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

/* mobile menu */

.space-x-2> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(0.5rem * var(--tw-space-x-reverse));
    margin-right: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

/* tick in introduce */

.ml-2 {
    margin-left: 0.5rem;
}


/* svg in services */

.left-6 {
    left: 1.5rem;
}

@media (min-width: 768px) {
    .md\:left-8 {
        left: 2rem;
    }
}


/* experience */

@media (min-width: 768px) {

    .md\:pr-16 {
        padding-right: 4rem;
    }

    .md\:after\:content-\[\'\'\]::after {
        --tw-content: '';
        content: var(--tw-content);
    }

    .md\:before\:-right-1::before {
        content: var(--tw-content);
        right: -0.25rem;
    }

    .md\:before\:right-64::before {
        content: var(--tw-content);
        right: 16rem;
    }
}